body {
    background-color: rgb(67,67,67);
    background-image: url(../images/static.png);
    color: #eeeae1;
    font-family: 'Signika', sans-serif;
    text-align: center;
}

/* First panel (header) */

body > header {
    background-image:
        radial-gradient(
            ellipse farthest-corner at 50% 50%,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 1) 100%
        ),
        repeating-linear-gradient(
            -30deg,
            transparent,
            transparent 40px,
            rgba(195,225,195,0.05) 60px,
            rgba(195,225,195,0.05) 140px,
            transparent 140px
        ),
        repeating-linear-gradient(
            -29deg,
            transparent,
            transparent 40px,
            rgba(195,225,195,0.05) 60px,
            rgba(195,225,195,0.05) 140px,
            transparent 142px
        ),
        repeating-linear-gradient(
            30deg,
            transparent,
            transparent 40px,
            rgba(255,205,205,0.05) 60px,
            rgba(255,205,205,0.05) 180px,
            transparent 180px
        ),
        repeating-linear-gradient(
            34deg,
            transparent,
            transparent 40px,
            rgba(255,205,205,0.05) 60px,
            rgba(255,205,205,0.05) 180px,
            transparent 180px
        ),
        repeating-linear-gradient(
            28deg,
            transparent,
            transparent 40px,
            rgba(255,205,205,0.05) 60px,
            rgba(255,205,205,0.05) 180px,
            transparent 180px
        );
    height: 700px;
    
}

body > header section {
    padding-top: 250px;
}

h1 {
    font-size: 215px;
    text-shadow:
        0 1px 0 #999,
        0 2px 0 #888,
        0 3px 0 #777,
        0 4px 0 #666,
        0 5px 0 #555,
        0 6px 0 #444,
        0 7px 0 #333,
        0 8px 7px #141414;
}

body > header p {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 46px;
    margin-top: -20px;
    text-shadow:
        0 1px 0 #999,
        0 2px 0 #777,
        0 3px 0 #555,
        0 4px 0 #333,
        0 5px 5px #141414;
}

.green {
    color:#46e54e;
    text-shadow:
        0 1px 0 #31af37,
        0 2px 0 #296f2e,
        0 3px 0 #255f27,
        0 4px 0 #1c351c,
        0 5px 5px #101810;
}

.pink {
    color:#df4d79;
    text-shadow:
        0 1px 0 #b8376a,
        0 2px 0 #92345a,
        0 3px 0 #692a42,
        0 4px 0 #411f2c,
        0 5px 5px #24131a;
}
