@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);

body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: rgb(67,67,67);
    color: #eeeae1;
    text-align: center
    background-image: url(../images/static.png);
}

#pageheader {
    height:700px;
    background-image:
        repeating-linear-gradient(
            -30deg,
            transparent,
            transparent 40px,
            rgba(195,225,195,0.05) 60px,
            rgba(195,225,195,0.05) 140px,
            transparent 140px
        ),
        repeating-linear-gradient(
            -29deg,
            transparent,
            transparent 40px,
            rgba(195,225,195,0.05) 60px,
            rgba(195,225,195,0.05) 140px,
            transparent 142px
        ),
        repeating-linear-gradient(
            30deg,
            transparent,
            transparent 40px,
            rgba(255,205,205,0.05) 60px,
            rgba(255,205,205,0.05) 180px,
            transparent 180px
        ),
        repeating-linear-gradient(
            34deg,
            transparent,
            transparent 40px,
            rgba(255,205,205,0.05) 60px,
            rgba(255,205,205,0.05) 180px,
            transparent 180px
        ),
        repeating-linear-gradient(
            28deg,
            transparent,
            transparent 40px,
            rgba(255,205,205,0.05) 60px,
            rgba(255,205,205,0.05) 180px,
            transparent 180px
        );
}
